.section {
  padding: 80px 115px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.block_one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 51px;
  line-height: 56px;
  text-transform: capitalize;
}

.subtitle {
  font-size: 22px;
  line-height: 35px;
}

.block_two {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--background---Secondary);
}

.inp {
  background: transparent;
  width: 100%;
  font-size: 16px;
}

.line {
  height: 1px;
  background: var(--background---Secondary);
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 60px 77px;
  }

  .container {
    max-width: 691px;
  }

  .title {
    font-size: 38px;
    line-height: 45px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 760px) {
  .section {
    padding: 40px 30px;
  }

  .container {
    max-width: 330px;
  }

  .title {
    font-size: 28px;
    line-height: 39px;
  }

  .inp {
    font-size: 14px;
  }
}
