.block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block > li {
  list-style: none;
  transition: 0.3s;
}

.block a {
  padding: 12px 20px;
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.block li:hover {
  transform: scale(0.95);
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: var(--call-to-Action);
  padding: 20px 30px !important;
}

@media screen and (max-width: 1000px) {
  .block {
    display: none;
  }
}
