.block {
  display: flex;
  align-items: center;
}

.block > li {
  list-style: none;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo_text {
  margin-top: 6px;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 24px;
  }

  .logo_text {
    margin-top: 4px;
    width: 150px;
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
}
