.block {
  display: flex;
  align-items: center;
}

.block > li {
  list-style: none;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  margin-top: 6px;
  height: 20px;
}
